.slide-bg{
 background-color: #FEEAE9;
}
.price{
    color: #FF589B;
}
.button-bg{
    background-color: #FF589B;
    color: #FEEAE9;
}
.watch{
    background-color: #FF9C35;
}
.shoes{
    background-color: #4289FF;
}